$smallSize: 768px;

@mixin tran-horizontal($percentage, $time) {
  @if $percentage != 0 {
    transform: translateX($percentage);
    -moz-transform: translateX($percentage);
    -webkit-transform: translateX($percentage);
    -o-transform: translateX($percentage);
  }
  transition: transform $time ease;
  -moz-transition: transform $time ease;
  -webkit-transition: transform $time ease;
  -o-transition: transform $time ease;
}

@mixin h3() {
  text-align: left;
  color: #303133;
  margin: 10px 0;
  padding-left: 10px;
  font-size: 18px;
}